<form action="/register" method="POST">
    Name : <input type="text" name="firstname" id="name" placeholder="Enter Name *">
    Email : <input type="email" name="email" id="email" placeholder="Enter Email *">
    Password : <input type="password" name="password" id="password" placeholder="Enter Password *">
    Confirm Password : <input type="password" name="cpassword" id="cpassword" placeholder="Enter Password *">
    <input type="submit" value="Register">
</form>